.board {
  background-image: url("/src/assets/background.jpg");
  background-attachment: fixed;
}
.container-fluid .navbar-brand,
.nav-item .nav-link {
  cursor: pointer;
}

.navbar-brand .newscape:hover {
  scale: 1.1;
  transition: 0.5s;
}

.card:hover {
  scale: 1.02;
  transition: 0.5s;
}

.card .card-img-top {
  height: 200px;
  width: 300px;
}

a {
  text-decoration: none;
  color: #ffffff;
}